<header class="header">
        <div class="logo">
            <img src="/images/giraffe-svgrepo-com.svg">
        </div>
        <div class="heading">
            <h1 class="title">Nature's Zoo</h1>
        </div>
    </header>