<div class="main_content">
    <% content.forEach(content=> { %>
        <div class="content">
            <h3><%= content.subHeading  %></h3>
            <p class="details"><%= content.maincontent  %></p>
        </div>
    <% }); %>
</div>
