<nav class="navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/mammals">mammals</a></li>
        <li><a href="/birds">birds</a></li>
        <li><a href="/reptiles">reptiles</a></li>
    </ul>
</nav>