<nav class="nav_menu">
   <% if(locals.bodyClass) { %>
        <% if(bodyClass === "home") { %>
            <a href="/" class="active">Home</a>
        <% } else { %>
            <a href="/">Home</a>
        <% } %>
          
        <% if (bodyClass === "mammals") { %>
            <a href="/mammals" class="active">Mammals</a>
        <% } else { %>
            <a href="/mammals">Mammals</a>
        <% } %>
            
        <%  if (bodyClass === "birds") { %>
            <a href="/birds" class="active">Birds</a>
        <% }  else { %>
            <a href="/birds">Birds</a>
        <% } %>
        
        <% if (bodyClass === "reptiles") { %>
            <a href="/reptiles" class="active">Reptiles</a>
        <% }else { %>
            <a href="/reptiles">Reptiles</a>
        <% } %>
  <% } %> 
      
</nav>