<div class="sidebar">
    <h2>Animal Names</h2>
    <ul>
        <% animals.forEach(animal=> { %>
            <li>
                <a class="animal" href="/animal/<%= animal.name %>">
                    <%= animal.name %>
                </a>
            </li>
        <% }); %>
    </ul>
</div>