<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animal App</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
    <div>
            <body>

                <header>
                    <%- include("../partials/navbar.ejs")  %>
                </header>
                <div class="container">
                    <aside>
                        <%- include("../partials/sidebar.ejs",) %>
                    </aside>

                        <div class="main-content">
                            <h2>Click on an animal name to see its details</h2>
                        </div>
                    </div>
                </div>
            </body>
            
            </html>

