* {
    box-sizing: border-box;
}

html {
    height: 100vh;
    margin: 0;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: #7d9180;
}

.page_title {
    margin: 48px 0;
    text-align: center;
    flex-grow: 1;
    font-size: 2rem;
}

.main_container {
    flex-grow: 1;
    display: flex;
    background-color: #B5C9C3 ;
}

.sidebar {
    flex: 0 0 25%;
}

.welcome_details {
    flex: 0 0 75%;
}

/*footer*/
.footer {
    background-color: #7d9180;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "logo contact social"
        "copyright copyright copyright";
    padding: 24px;
    gap: 36px;
    align-items: center;
    text-align: center;   
}

.footer_social-media a {
    text-decoration: none;
}

.footer-logo h2 {
    font-size: 1.5rem;
}

.footer-contact h4 {
    font-size: 1.5rem;
}

.footer-logo ul {
    display:flex;
    flex-direction: column
}

.footer-logo ul a {
    text-decoration: none;
    color: black;
}

.footer_social-media h4 {
    font-size: 1.5rem;
}

.footer-logo img {
    width: 250px;
    height: 100px;
}

.footer-copyright {
    grid-area: copyright;
    padding: 10px;
}

.facts h4 {
    font-size: 1.5rem;
    padding: 0.5px;
}

.facts ul {
    display:flex;
    flex-direction: column
}

.facts ul a {
    color: black;
    font-size: 1rem;
    font-style: normal; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    padding: 7px; 
    text-decoration: none;
}