* {
    box-sizing: border-box;
}

html {
    height: 100vh;
    margin: 0;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("/images/pexels-vladimirsrajber-30574316.jpg");
    filter: grayscale(0.5);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    display: flex;
    /*background-color: #7d9180;*/
}

.page_title {
    margin: 48px 0;
    text-align: center;
    flex-grow: 1;
    font-size: 2rem;
}

.nav_menu {
    display: flex;
    justify-content: space-around;
}

.nav_menu a{
    text-decoration: none;
    font-size: 1.6rem;
    color: #696047;
}

.main_container {
    flex-grow: 1;
    display: flex;
    /*background-color: #B5C9C3 ;*/
}

.sidebar {
    flex: 0 0 25%;
}

.welcome_details {
    flex: 0 0 75%;
}

.footer {
    background-color: #7d9180;
    text-align: center;
}