* {
    box-sizing: border-box;
}
html {
    min-height: 100vh;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    max-height: 100%;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    text-align: center;
}

.container {
    display: flex;
}

aside {
    width: 400px; 
    background-color: #f1f1f1;
    padding: 10px;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
    border-left: 1px solid #ddd;
}

.main-content h2 {
    margin-top: 0;
}

aside ul {
    list-style-type: none;
    padding: 0;
}

aside ul li {
    padding: 8px;
}

aside ul li a {
    text-decoration: none;
    color: #333;
}

aside ul li a:hover {
    background-color: #ddd;
    display: block;
}

.navbar {
    list-style-type: none;
    padding: 0;
    display: flex; 
    justify-content: space-between;
}

.navbar li {
    margin: 0; 
}

.navbar a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
}

.navbar a:hover {
    background-color: #f0f0f0; 
}

